* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    nav {
        color: rgb(209, 0, 0)!important;
        top: 0px;
        ul {
            text-align: right;
            float: right;
            li {
                display: inline-block;
                padding: auto;
                a {
                    color: rgb(24, 24, 24);
                    text-decoration: none;
                    &:hover {
                        color: rgb(255, 0, 0);
                    }
                }
            }
        }
    }
    .header-principal {
        font-size: 4rem;
        line-height: 3.8rem;
    }
    .direccion {
        margin-bottom: 50px;
    }
    .info {
        font-size: 1.3rem;
        font-family: 'Helvetica';
    }
    .titulo-info {
        font-size: 2.5rem;
    }
    a {
        color: red;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

$breakpoint-tablet: 600px;
@media (min-width: $breakpoint-tablet) {
    .info {
        font-size: 1rem;
    }
}